body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

#projects {
  width: auto;
  background-color: #e2edff;
}

.carousel {
  width: 1000px;
  height: 700px;
  margin: 110px 210px;
  top: -80px;
}

.bgcarousel {
  background-color: #e2edff;
  padding-top: 100px;
}
.bgcarousel h2 {
  text-align: center;
  font-size: 50px;
}

.contact {
  background-color: white;
  color: black;
}
.footeratas {
  background-color: white;
}

.footer {
  background-color: #222;
  color: white;
  min-height: 100px;
}

.footer a {
  color: white;
}

section {
  padding-top: 5rem;
}
